body{
    padding: 0px;
    margin: 0px;
}
#header_div{
    padding: 5px;
    background-color: lightslategray;
    font-style: oblique;
    font-family: American Typewriter,serif;
    text-decoration: aliceblue;
    text-align: center;
}
#search_div{
    padding: 15px;
    background-color: rgb(145, 244, 155);
    font-style: oblique;
    font-size: medium;
    text-align: center;
}
#search_bar{
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    text-align: right;
    line-height: 40px;
}
#result_details_div{
    background-color: cornsilk;
    padding: 10px;
    border-radius: 20px;
    width: auto;
    text-align: center;
}
#verses_div{
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    width: auto;
    text-align: justify;
}
.input_field{
    width: 140px;
    height: 20px;
    padding: 6px;
    text-align: center;
    border-radius: 7px;
    border: none;
}
input:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.3);
  }

.btn{
    width: 100px;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(46, 182, 227);
    border: none;
}
button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.3);
  }

